.ki-upload {
  &.disabled * {
    cursor: not-allowed !important;
  }

  .ki-input-file {
    display: none;
  }

  .ki-upload-tip {
    color: var(--color);
    font-size: 12px;
    margin-top: 7px;
  }

  .ki-upload-list {
    list-style: none;
    margin: 7px 0 0 0;
    padding: 0;

    .ki-upload-list-item {
      color: var(--color);
      font-size: 14px;
      padding: 2px 5px 4px 5px;
      border-radius: 3px;
      margin-top: 10px;
      position: relative;
      overflow: hidden;

      .progress {
        content: '';
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 3px;
        transition: width .3s;
        background-color: var(--success-shallow-color);
      }

      .text-icons {
        float: right;
        margin-top: 1.5px;
        color: var(--success-color);
      }

      .check-icon {
        display: block;
      }

      .close-icon {
        display: none;
        cursor: pointer;
      }

      &:hover {
        color: var(--primary-color);
        background-color: #eeeded;

        .check-icon {
          display: none;
        }

        .close-icon {
          display: block;
        }
      }
    }

    .ki-upload-list-item.picture {
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid var(--border-color);
      display: flex;
      align-items: center;
      border-radius: 6px;

      .content {
        width: 0;
        flex: 1;
        height: 100%;
        position: relative;
      }

      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        margin-right: 10px;
      }

      &:hover {
        background-color: initial;
      }

      .progress {
        bottom: -10px;
      }

      .picture-icons {
        position: absolute;
        right: -17px;
        top: -5px;
        background-color: var(--success-color);
        width: 46px;
        height: 26px;
        transform: rotate(45deg);

        .icon {
          color: #fff;
          font-size: 12px;
          position: absolute;
          left: 16px;
          bottom: 2px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
