.ki-img-preview {

  .ki-icon {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .ki-img-list {
    display: flex;
    flex-wrap: wrap;

    img {
      width: 100%;
      display: block;
    }

    .ki-img-item:last-child {
      margin-right: 0;
    }

    .ki-img-item {
      width: 180px;
      display: flex;
      position: relative;
      margin-right: 10px;
      cursor: pointer;
      border-radius: 3px;
      overflow: hidden;

      .ki-img-mask {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all .2s;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .ki-img-mask:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, .5);
      }
    }
  }

  .ki-preview-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1024;

    .ki-preview-close {
      font-size: 25px;
      position: absolute;
      right: 6%;
      top: 6%;
      z-index: 1024;
    }

    .ki-preview-prev,
    .ki-preview-next {
      font-size: 40px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1024;
    }

    .ki-preview-prev {
      left: 10%;
    }

    .ki-preview-next {
      right: 10%;
    }

    .ki-preview-content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: grab;
    }

    img {
      max-width: 90%;
      max-height: 100%;
      transition: all .3s;
      pointer-events: none;
    }

    .ki-preview-control {
      width: 300px;
      height: 44px;
      background-color: #606266;
      border-radius: 25px;
      position: absolute;
      bottom: 6%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 10px;
    }
  }
}
