.ki-form-item {
  display: flex;
  align-items: center;
  margin-bottom: 22px;

  .label {
    color: var(--color);
    font-size: 14px;
    margin-right: 5px;

    &.required:before {
      content: '*';
      color: var(--error-color);
      font-size: 14px;
      margin-right: 5px;
    }
  }

  .ki-form-item-inner {
    position: relative;
  }

  .error-prompt {
    color: var(--error-color);
    font-size: 12px;
    padding: 3px 0 0 5px;
    position: absolute;
    bottom: -17px;
  }
}
