:root {
    /* 主文本颜色 */
    --color: #606266;

    /* 边框颜色 */
    --border-color: #d9d9d9;

    /* 主要颜色 */
    --primary-color: #1890ff;

    /* 成功颜色 */
    --success-color: #67c23a;

    /* 信息颜色 */
    --info-color: #909399;

    /* 警告颜色 */
    --warning-color: #e6a23c;

    /* 错误颜色 */
    --error-color: #f56c6c;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
