.ki-tree-nodes {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ki-tree-node {
  color: var(--color);
  font-size: 14px;

  .ki-node-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;

    .ki-node-expansion {
      width: 17px;
      height: 26px;
      line-height: 26px;
      margin-right: -6px;

      .ki-node-expansion-icon {
        padding: 0 6px;
        box-sizing: border-box;
        height: 100%;
      }

      .fa {
        color: #c0c4cc;
        transition: transform 0.2s;

        &.active {
          transform: rotate(90deg);
        }
      }
    }

    .ki-node-checked {
      margin-left: 8px;

      :deep .ki-checkbox-inner {
        margin-right: 0;
      }

      :deep {
        .ki-checkbox-wrap {
          margin-right: 0;
        }
      }
    }

    .ki-node-content {
      height: 26px;
      line-height: 26px;
      margin-left: 8px;
      user-select: none;
    }

    .ki-tree-slots {
      position: absolute;
      right: 6px;
    }

    &:hover {
      background-color: #f5f7fa;
    }
  }

  .ki-tree-child {
    padding-left: 20px;

    &.ki-tree-child-checkbox {
      padding-left: 22px;
    }
  }
}
